{% extends "AppBundle::layout.html.twig" %}

    {% block content %}
        <div class="row">
            <div class="col-xs-8 col-centered panel-body">
                {{ form(uploadForm, { 'style': 'horizontal', 'col_size': 'xs' }) }}
            </div>
        </div>

    {% endblock content %}