{% extends "AppBundle::layout.html.twig" %}

    {% block topJavascripts %}
        {% javascripts
        '@AppBundle/Resources/public/js/app.js'
        filter='?uglifyjs2'
        output='js/app.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbj9wsUp4WaK2u2PrpW0hptHPYp7qYDYA"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block content %}
        <div class="row">
            {% if hasRoutes %}
                <div class="col-md-3">
                    <div id="routeList" class="list-group">

                    </div>
                </div>
                <div id="map" class="col-md-9" style="min-height: 500px">
                </div>
            {% else %}
                <div class="col-md-6 col-sm-12">
                    <p>You don't have any route.Please click to <a href="{{ path('uploadRoute') }}">link</a> and upload your first route.</p>
                </div>
            {% endif %}
        </div>

    {% endblock content %}
