{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
    '@AppBundle/Resources/public/css/trackTrip.css' filter='?uglifycss'
    filter='cssrewrite'
    output='/css/triptrack.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block topJavascripts %}

{% endblock %}

{% block title 'Track Trip' %}

{% block body %}
    {{ block("fos_user_content") }}
    {% include 'AppBundle:Partials:nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
            {% block content %}


            {% endblock %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}