{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="container-fluid">
        <div class="row row-centered">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            <p>Go to <a href="{{ path('uploadRoute') }}">link</a> and upload your first route!</p>
        </div>
    </div>
{% endblock content %}