{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'AppBundle' %}

{% block fos_user_content %}
    {% include "AppBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
