<!-- Navigation -->
<nav class="navb ar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path('homepage') }}">Track Trip</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <a href="{{ path('uploadRoute') }}">Upload route</a>
                    </li>

                    <li>
                        <a href="{{ path('routes')}}">My routes</a>
                    </li>

                    <li>
                        <a href="{{ path('fos_user_security_logout')}}">Logout</a>
                    </li>

                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">Log In</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>