{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}

        <div class="container-fluid">
            <div class="row row-centered" id="login">
                <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign In</div>
                        </div>
                        <div class="col-xs-8 col-centered panel-body">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                <div class="form-group">
                                    <label for="username" class="control-label required">{{ 'security.login.email'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           required="required" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="control-label required">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" id="password" name="_password" required="required"
                                            class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>

                                <div class="form-group">
                                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                                           value="{{ 'security.login.submit'|trans }}"/>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock fos_user_content %}

