/*!
 * Start Bootstrap - The Big Picture HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html {
    height: 100%;
}
body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
    min-height: 560px;
}

/*.full {*/
    /*background: url('../images/background.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

#signup, #login {
    margin-top: 50px;
}

#signupForm, #loginForm {
    padding-top: 30px;
}
div.inline {
    display: inline-block;
}
#map {
    height: 100%;
}
div a {
    cursor: pointer;
}
#routeList {
    height: 500px;
    overflow-y: auto;
}