{% extends "AppBundle::layout.html.twig" %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>Track Your Trip</h1>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p>
                            Welcome to Track Trip app.
                        </p>
                    {% else %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto, unde, sunt incidunt id sapiente rerum soluta voluptate harum veniam fuga odit ea pariatur vel eaque sint sequi tenetur eligendi.</p>
                    {% endif %}

                </div>
            </div>
            <!-- /.row -->
        </div>

    {% endblock content %}

